{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form bg-light mt-4 p-4">
                <h1 class="h3 mb-3 font-weight-normal">Verify your Email</h1>
                <p>
                    A verification email was sent - please click it to enable your account before logging in.
                </p>
                <a href="#" class="btn btn-primary">Re-send Email</a>
            </div>
        </div>
    </div>
{% endblock %}
