{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="my-4">Edit Question</h1>
                <blockquote>{{ question.question }}</blockquote>
                TODO
            </div>
        </div>
    </div>
{% endblock %}
